<div class="help">
  <h2>Problemy? Pytania?</h2>
  <p class="solution">Skontaktuj się z naszym konsultantem:</p>
  <%= image_tag("rails.png") %>
  <p><strong>Maciej Kowalski</strong></p>
  <p><a href="maciej@kolorodruk.pl">maciej@kolodruk.pl</a></p>
  <p>+48 600 000 000</p>
  <p>Od pn do pt w godz: 10:00 - 18:00</p>
</div>