<div class="grid_12">
<% title "Zarejestruj | Kolorodruk Inowrocław" %>

<div id="stylized" class="myform">
  <% form_for resource_name, resource, :url => registration_path(resource_name) do |f| -%>
      <%= render :partial => 'reg_fields', :locals => { :f => f } %>
  <% end -%>
</div>
    </div>
